# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

# Controls when the action will run. Triggers the workflow on version tags.
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Checkout the repo
    - uses: actions/checkout@v2
    
    - name: Set up Java 8
      uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Export node version
      id: node_version
      run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
        
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Build client
      working-directory: client
      run: |
        yarn install --frozen-lockfile
        yarn build
    
    - name: Copy client into static directory
      run: mv client/build/* src/main/resources/static    
        
    - name: Build with Maven
      run: mvn -B package -Dmaven.test.skip=true --file pom.xml
    
    - name: Create a release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "target/sprint*.jar"
        token: ${{ secrets.GITHUB_TOKEN }}
